.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.MyContainer {
  background-color: #d9d9d9; 
  padding-bottom: 15px;
}

.win {
  background-color: #55efc4;
}
.lose {
  background-color: #fab1a0;
}
.equality {
  background-color: #ffeaa7;
}